<%= f.InputTag("Name") %>
<%= f.SelectTag("Size", {options: ["Small","Normal","Family","Extra Big"]}) %>
<%= f.SelectTag("Ingredient1", {options: ["","Pepperoni","Chicken","Ham","Bacon","Olives","Tuna"]}) %>
<%= f.SelectTag("Ingredient2", {options: ["","Pepperoni","Chicken","Ham","Bacon","Olives","Tuna"]}) %>
<%= f.SelectTag("Ingredient3", {options: ["","Pepperoni","Chicken","Ham","Bacon","Olives","Tuna"]}) %>
<%= f.SelectTag("Ingredient4", {options: ["","Pepperoni","Chicken","Ham","Bacon","Olives","Tuna"]}) %>
<button class="btn btn-success" role="submit">Save</button>
